doctype html
-var lng = config.language

html(lang= lng)
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      include ./open_graph.pug
      link(rel='icon', href=url_for('images/favicon.png'))
      link(rel='stylesheet', href=url_for('css/style.css'))


    body

      div.site-wrap
        include header.pug

        main
          section.container
            block content

        include footer.pug